COUCHDB_USER=admin
COUCHDB_DATABASE=starintel
RABBITMQ_USER=starintel

STAR_SERVER_BIND_ADDRESS=127.0.0.1
STAR_SERVER_PORT=5000
COUCHDB_BIND_ADDRESS=127.0.0.1
COUCHDB_PORT=5984
RABBITMQ_BIND_ADDRESS=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

CREDENTIALS_DIR=./secrets
CLOUSEAU_JAVA_OPTS=-Xms256m -Xmx1g
