[submodule "y"]
	path = deps/star-cl
	url = https://github.com/lost-rob0t/star-cl
[submodule "deps/cl-gserver"]
	path = deps/cl-gserver
	url = https://github.com/mdbergmann/cl-gserver
[submodule "deps/cl-rabbit"]
	path = deps/cl-rabbit
	url = https://github.com/lokedhs/cl-rabbit
[submodule "cl-ulid"]
	path = cl-ulid
	url = https://github.com/jolby/cl-ulid.git
[submodule "deps/cl-ulid"]
	path = deps/cl-ulid
	url = https://github.com/jolby/cl-ulid.git
[submodule "deps/cl-couch"]
	path = deps/cl-couch
	url = https://github.com/lost-rob0t/cl-couch.git
