STARINTEL_DOCKER_NETWORK=starintel_backend
STARINTEL_SECRETS_DIR=../secrets
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=starintel
STARINTEL_PREFETCH=1
STARINTEL_MAX_PAGES=100
STARINTEL_MAX_DEPTH=2
WEF_YGL_IMAGE=starintel/actor-wef-ygl:0.1.0
